attrs
click
contourpy
cycler
et-xmlfile
fonttools
iniconfig
kiwisolver
matplotlib
mccabe
mypy-extensions
networkx
numpy
openpyxl
packaging
pandas
pathspec
Pillow
platformdirs
pluggy
pycodestyle
pyflakes
pyparsing
pytest
python-dateutil
pytz
pyyaml
scipy
seaborn
six
snakeviz
tornado
XlsxWriter
jax[metal]==0.4.26
jaxlib==0.4.26